@model EMenu.Application.DTOs.BillDto

<div class="receipt">

	<h2>Restaurant</h2>

	<p>Table: @Model.TableName</p>
	<p>Date: @DateTime.Now</p>

	<hr />

	<table>

		@foreach (var i in Model.Items)
		{
			<tr>
				<td>@i.ProductName</td>
				<td>x @i.Quantity</td>
				<td>@((i.UnitPrice * i.Quantity).ToVnd())</td>
			</tr>
		}

	</table>

	<hr />

	<h3>Total: @Model.TotalAmount.ToVnd()</h3>

</div>

<button onclick="window.print()">
	Print
</button>
