<h2>Table Management</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<div class="table-grid">

    @foreach (var table in Model)
    {
        var color = "green";

        if (table.Status == 1)
            color = "red";

        <div class="table-box"
             style="background:@color">

            <h3>@table.TableName</h3>

            <p>Capacity: @table.Capacity</p>

            @if (table.Status == 0)
            {
                <button onclick="openTable(@table.TableID)">
                    Open
                </button>
            }

            @if (table.Status == 1)
            {
                <button class="btn btn-danger"
                        onclick="endTable(@table.TableID)">
                    End Session
                </button>
            }
            @if (table.Status == 1)
            {
                <button class="btn btn-warning"
                        onclick="window.location='/Table/Bill?tableId=@table.TableID'">

                    Bill

                </button>
            }

        </div>
    }

</div>

<script src="/js/table.js"></script>



