@using EMenu.Domain.Enums
<h2>Product Management</h2>

<a href="/Product/Create" class="btn btn-primary">Add Product</a>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Image</th>
			<th>Category</th>
			<th>Price</th>
			<th>Type</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.ProductID</td>
				<td>@item.ProductName</td>
				<td>
					<img src="/images/products/@item.Image" width="80" />
				</td>
				<td>@item.Category?.CategoryName</td>
				<td>@item.Price</td>
				<td>
					@if (item.ProductType == ProductType.Combo)
					{
						<span class="badge bg-warning">Combo</span>
					}
					else
					{
						<span class="badge bg-success">Single</span>
					}
				</td>
				<td>@(item.IsAvailable ? "Available" : "Disabled")</td>
				<td>
					<a class="table-action-link" href="/Product/Edit/@item.ProductID">Edit</a> |
					<form asp-action="Delete" asp-route-id="@item.ProductID" method="post" class="table-action-form">
						<button type="submit" class="btn btn-link table-action-link">
							Delete
						</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>